﻿@using BookShelf.ViewModels;
@using static BookShelf.Utilities

@model BookDetail
@{
    ViewData["Title"] = "Books Page";
}

@if (Model != null)
{
    <div class="container pt-4">
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right pr-md-0" id="book-detail">
                    <article class="gallery-wrap">
                        <img src="@(Model.Thumbnail == null ? Url.Action("Index", "Books")+"img/book.png" : Model.Thumbnail.Replace("zoom=1", "zoom=3").Replace("http://", "https://"))" class="img-fluid w-100 h-100 p-2">
                        <hr class="mx-3">
                        <div class="mx-5 mb-3"> <a href="#" class="btn btn-lg btn-block btn-outline-primary text-uppercase" onclick="AddFavorite('@Model.Id')"> <i class="fas fa-star float-left mt-1"></i> FAVORITAR </a> </div>
                        
                    </article> 
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-4">
                        <h3 class="title mb-3">@Html.Raw(Model.Titile)</h3>
                        @if (!string.IsNullOrEmpty(Model.Description))
                        {
                            <dl>
                                <dt>Descição</dt>
                                <dd>
                                    <p>
                                        @Html.Raw(Model.Description)
                                    </p>
                                </dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(string.Join(" , ", Model.Autors)))
                        {
                            <dl>
                                <dt>Autor(s)</dt>
                                <dd>
                                    @string.Join(" , ", Model.Autors)
                                </dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(string.Join(" , ", Model.Publisher)))
                        {
                            <dl>
                                <dt>Editora</dt>
                                <dd>@string.Join(" , ", Model.Publisher)</dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(Model.PublishedDate))
                        {
                            <dl>
                                <dt>Data de Publicação</dt>
                                <dd>@Model.PublishedDate</dd>
                            </dl>
                        }
                        @if (!string.IsNullOrEmpty(string.Join(" , ", Model.Isbn)))
                        {
                            <dl>
                                <dt>ISBN</dt>
                                <dd>@string.Join(" , ", Model.Isbn)</dd>
                            </dl>
                        }
                    </article>
                </aside>

            </div>
        </div>
    </div>
}