﻿@using BookShelf.ViewModels;
@using static BookShelf.Utilities

@model List<Book>
@{
    ViewData["Title"] = "Lista de Favoritos";
}

@if (Model != null)
{

    <div class="album py-5">
        <div class="container">
            <div class="row" id="books-list">
                @foreach (var book in Model)
                {
                    <div class="col-md-4 col-sm-6 fade-in" id="@book.Id">
                        <div class="card mb-4 box-shadow">

                            <div class="" style="background-color: white;">
                                @*Essa gamb do zom rederizar imagem maior, a api devolve com zoom a imagem *@
                                <img src="@(book.Thumbnail == null ? "/img/book.png" : book.Thumbnail.Replace("zoom=1", "zoom=3").Replace("http://", "https://"))" class="m-auto corver fade-in"/>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@Html.Raw(Truncate(book.Titile, 50))</h5>
                                <p class="card-text">@Html.Raw(Truncate(book.Description, 100))</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                        <a href="@Url.Action("Detail", "Books", new {Id = book.Id})" class="btn btn-sm btn-outline-secondary">Detalhar</a>
                                        <input type="button" class="btn btn-sm btn-outline-danger" onclick="RemoveFavorite('@book.Id')" value="Remover">
                                    </div>
                                    <small class="text-muted float-left">@book.PublishedDate</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}