﻿@using BookShelf.ViewModels;
@using static BookShelf.Utilities

@model List<Book>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{

    <div class="album py-5">
        <div class="container">
            <div class="row" id="books-list">
                @foreach (var book in Model)
                {
                    <div class="col-md-4 col-sm-6 fade-in" id="@book.Id">
                        <div class="card mb-4 box-shadow">

                            <div class="" style="background-color: white;">
                                @*Essa gamb do zoom rederizar imagem maior, a api devolve com zoom a imagem *@
                                <img src="@(book.Thumbnail == null ? "/img/book.png" : book.Thumbnail.Replace("zoom=1", "zoom=3"))" class="m-auto corver fade-in"/>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@Html.Raw(Truncate(book.Titile, 50))</h5>
                                <p class="card-text">@Html.Raw(Truncate(book.Description, 100))</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                        <a href="@Url.Action("Detail", "Books", new {Id = book.Id})" class="btn btn-sm btn-outline-secondary">Detalhar</a>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <input type="button" class="btn btn-sm btn-outline-secondary" value="Favoritar" onclick="AddFavorite('@book.Id')" >
                                        }
                                    </div>
                                    <small class="text-muted float-left">@book.PublishedDate</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-12" id="more">
                    @if (ViewBag.totalResult == 40)
                    {
                        <input type="button" class='btn btn-raised btn-primary m-auto' Value="Carregar mais" onclick="GetData()">
                    }
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        var pageIndex = 2;
        var pages = @ViewBag.pagesize;

        function GetData() {
            $("#more").remove();
            $.ajax({
                type: 'GET',
                url: '/',
                data: {
                    "currentpage": pageIndex,
                    "search" : '@ViewBag.search'
                },
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $("#books-list").append($(data).find("#books-list").contents());
                        pageIndex++;
                    }
                }
            });
        }
    </script>
}