﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookShelf</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="~/lib/snackbarjs/snackbar.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark" style="z-index: 10;">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Books" asp-action="Index">Quero <i class="fas fa-book-open"></i> Livros</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <form class="form-inline" method="GET" action="/">
                        <input class="form-control mr-sm-2" type="text" value="@ViewBag.search" name="search" placeholder="Search" aria-label="Search">
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
                    </form>

                    <ul class="navbar-nav mr-auto">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 65px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BookShelf - <a asp-area="" asp-controller="Books" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/bootstrap-material-design.min.js"></script>
    <script src="~/lib/snackbarjs/snackbar.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-easy-loading/dist/jquery.loading.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
