﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link btn btn-link" href="@Url.Action("FavoriteList", "Books")" >Meus Favoritos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link btn btn-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Minha Conta</a>
    </li>

    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Books", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link ">Sair</button>
        </form>
    </li>


}
else
{
    <li class="nav-item">
        <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </li>
}

